page-remainder-page {
  #commandId
  {
    position: absolute;
    margin-left: 89px;
    margin-top: 14px;
  }
  #addIcon
  {
    font-size: 32px;
  }
  .ionClass
  {
    background-color: #2ec95c;
  }

}
